$reg: 'Brandon Grotesque Regular',
sans-serif;
$tin: 'Brandon Grotesque Thin',
sans-serif;
$lat: 'Brandon Grotesque Light',
sans-serif;
$med: 'Brandon Grotesque Medium',
sans-serif;
$purple: #916fbc;
$text:#212121;
$w: #fff;
$bg: #2d2e34;
$all: all .4s;